body{
    color:white;
    background: linear-gradient(#e03dc5 0%, #881697 100%);
}
.heading{
    width:80%;
    font-size: 22px;

}
.name_of_objects, #result_object_name , #result_object_accuracy{
    color: black;
}
#camera{
    border:2px dashed black ;
    width: 350px;
    height: 350px;
}